In [1]:
from quasinet.qnet import qdistance, load_qnet
import joblib
#import cognet.util
import pandas as pd
import numpy as np
from io import BytesIO, StringIO
import pickle
import requests

In [2]:
#qnet_ = joblib.load("https://zenodo.org/record/5781768/files/gss_2018.joblib")

In [11]:
# loading qnet object from zenodo
url = 'https://zenodo.org/record/5781768/files/gss_2018.joblib'
url_file = BytesIO(requests.get(url).content)
Z_qnet = joblib.load(url_file)
# import org.apache.commons.io.FileUtils

# FileUtils.copyURLToFile(url, f)

In [21]:
Z_qnet = load_qnet(url_file)
#Z_qnet = joblib.load(url_file)

In [12]:
# loading qnet object from local repo
L_qnet = load_qnet("../../../cognet_scratch/Qnets/gss_2018.joblib")

In [17]:
# testing for similarity
pd.DataFrame({'local':L_qnet.feature_names,
              'zenodo':Z_qnet.feature_names})
# for qnet_ in [L_qnet, Z_qnet]:
#     qdist = qdistance(qnet_.samples[1], qnet_.samples[2], qnet_, qnet_)
#     print('-------------------------------------------')
#     print(qdist)

        local   zenodo
0     wrkstat  wrkstat
1        HRS1     HRS1
2        HRS2     HRS2
3      evwork   evwork
4      wrkslf   wrkslf
...       ...      ...
1029     wtss     wtss
1030   wtssnr   wtssnr
1031  wtssall  wtssall
1032   vstrat   vstrat
1033     vpsu     vpsu

[1034 rows x 2 columns]